USE [master]
GO
/****** Object:  Database [CafeGocNho_63134417]    Script Date: 16/11/2024 3:28:39 CH ******/
CREATE DATABASE [CafeGocNho_63134417]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeGocNho_63134417', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CafeGocNho_63134417.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeGocNho_63134417_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CafeGocNho_63134417_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeGocNho_63134417].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeGocNho_63134417]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] NOT NULL,
	[TINHTRANG] [smallint] NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MABAN] [int] NULL,
	[MANV] [varchar](10) NULL,
	[THOIGIAN] [datetime] NULL,
	[THANHTOAN] [smallint] NULL,
	[GIAMGIA] [int] NULL,
	[NV_THANHTOAN] [varchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMATHANG]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMATHANG](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOAIMATHANG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](200) NULL,
	[GIACA] [int] NULL,
	[DVT] [nvarchar](10) NULL,
	[ANH] [varchar](50) NULL,
	[SOLUONGHANG] [int] NULL,
	[MALOAI] [varchar](10) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HONV] [nvarchar](50) NULL,
	[TENNV] [nvarchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MATKHAU] [varchar](50) NULL,
	[CHUCVU] [smallint] NULL,
	[GIOITINH] [smallint] NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](12) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHI_TIET__MENU] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MENU] ([MAMH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHI_TIET__MENU]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_PHIEU_XUA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_PHIEU_XUA_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN_PHIEU_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN_PHIEU_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHAN_VIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHAN_VIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN_THANHTOAN] FOREIGN KEY([NV_THANHTOAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN_THANHTOAN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_REFERENCE_LOAIMATH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_REFERENCE_LOAIMATH]
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_TimKiem_Gia]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HoaDon_TimKiem_Gia]
    @MAHD varchar(10) = NULL,
    @MABAN varchar(10) = NULL,
    @MANV varchar(10) = NULL,
    @GIAmin decimal = NULL,
    @GIAmx decimal = NULL
AS
BEGIN
    DECLARE @SqlStr NVARCHAR(4000)
    DECLARE @ParamList NVARCHAR(2000)
    
    -- Base SQL query
    SELECT @SqlStr = '
        SELECT * 
        FROM HOADON
        WHERE (1=1)
    '
    
    -- Add conditions dynamically
    IF @MAHD IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND MAHD LIKE @MAHD'
    
    IF @MABAN IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND MABAN LIKE @MABAN'
    
    IF @MANV IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND MANV LIKE @MANV'
    
    -- Add condition for price range
    IF @GIAmin IS NOT NULL AND @GIAmx IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND GIA BETWEEN @GIAmin AND @GIAmx'
    ELSE IF @GIAmin IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND GIA >= @GIAmin'
    ELSE IF @GIAmx IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND GIA <= @GIAmx'
    
    EXEC sp_executesql @SqlStr
END
GO
/****** Object:  StoredProcedure [dbo].[Menu_TimKiem]    Script Date: 16/11/2024 3:28:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Menu_TimKiem]
    @MAMH varchar(10)=NULL,
	@TENMH nvarchar(200)=NULL,
	@GIACAmin varchar(30) = NULL,
	@GIACAmax varchar(30) = NULL,
	@DVT varchar(10)=NULL,
	@MALOAI varchar(10)=NULL
AS
BEGIN
DECLARE @SqlStr NVARCHAR(4000),
		@ParamList nvarchar(2000)
SELECT @SqlStr = '
       SELECT * 
       FROM MENU
       WHERE  (1=1)
       '
IF @MAMH IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
              AND (MAMH LIKE ''%'+@MaMH+'%'')
              '
IF @TENMH IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
              AND (TENMH LIKE ''%'+@TENMH+'%'')
              '
IF @GIACAmin IS NOT NULL and @GIACAmax IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
             AND (GIACA Between Convert(int,'''+@GIACAmin+''') AND Convert(int, '''+@GIACAmax+'''))
             '
IF @DVT IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
             AND (DVT LIKE ''%'+@DVT+'%'')
             '
IF @MALOAI IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
              AND (MALOAI LIKE ''%'+@MALOAI+'%'')
              '
	EXEC SP_EXECUTESQL @SqlStr
END
GO
USE [master]
GO
